.custom-buttons{
    margin-left: -81%;
}

.top-buttons{
   margin-left: -79%;
}

/* Add this to your existing CSS file */
.stat-item  {
    transition: transform 0.3s ease; /* Smooth transition */
}

.stat-item:hover  {
    transform: scale(1.2); /* Zoom effect on hover */
}
.black-background {
    background-color: #333333;
    height: 60%; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
    position: absolute; /* Ensure it is positioned correctly */
    top: 40%; /* Adjust based on where you want it to appear */
    left: 0;
}



/* EssayReview.css */

.section-container {
  margin: 2rem 0;
}

.section-title {
  margin-bottom: 1rem;
}

.section-description {
  padding-left: 1.5rem; /* Add padding to align the text properly */
}

.section-description li {
  margin-bottom: 0.5rem; /* Add space between list items */
}

.top-buttons {
  display: block;
  margin-top: 1rem;
  background-color: #FFA500; /* Adjust background color for buttons */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.hero-content {
  color: white;
}

.stat-item {
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
}

.stat-item p {
  margin-top: 0.5rem;
}

.images {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.faq-container {
  margin-top: 2rem;
}
