@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}


.footer-logo img {
  width: 160px;
  margin-bottom: -20px; 
}

footer ul li a {
  color: #ffffff;
}

.main-footer {
  background-color: #333333;
}
