@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

@keyframes moveLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.university-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  animation: moveLeft 20s linear infinite; /* Adjust duration as needed */
}

.university-item {
  display: inline-block;
  width: 50%; /* Adjust width for responsiveness */
  padding: 0 10px; /* Adjust padding for responsiveness */
}

.university-logo {
  max-width: 100%;
  height: auto;
}

/* Media Queries for Responsiveness */
@media (min-width: 640px) {
  .university-item {
    width: 33.33%; /* Adjust width for medium screens */
  }
}

@media (min-width: 768px) {
  .university-item {
    width: 25%; /* Adjust width for large screens */
  }
}

@media (min-width: 1024px) {
  .university-item {
    width: 20%; /* Adjust width for extra large screens */
  }
}
