
.top-section {
  height: 400px;
  width: 100%;
}

.arrow-btns {
  margin-left: 95%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.youtube-video {
  width: 80%;
  height: 600px;
}

.university-container {
  display: flex;
  justify-content: center;
}

.university-slider {
  display: flex;
  justify-content: space-between;
}

.university-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.university-logo {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.university-text {
  margin-top: 0.5rem;
}

.ready-section {
  background-image: url('../../assets/Homepage/AA_Home_ReadyToTakeTheLeap.png');
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.ready-section h2 {
  margin-bottom: 1rem;
}

.ready-section p {
  margin-bottom: 1rem;
}

.ready-section button {
  background-color: white;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .youtube-video {
    height: 250px;
  }
}

.card-heading1{
  margin-left: -39%;
}

.card-heading2{
  margin-left: -30%;
}

